nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 2px;         
}

.logo-section img {
    width: 45px;
    height: auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}



li {
    margin: 0 10px;
    font-size: 20px;
    font-style: normal;
    color: rgb(6, 3, 13);
    cursor: pointer;
}

button {
    background-color: rgb(66, 11, 185);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
}

/* img {
    width: 100px;
    height: 100px;
}        */